.wave-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  margin-top: 14px;
  height: 200px;
  width: 900px;
}

.setting-label {
  width: 80px;
  font-weight: lighter;
}

.play-layer, .layer-name {
  font-weight: bold;
  font-size: 150%;
}

.settings-view {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin: 24px;
}

.controller-list {
  display: flex;
  flex-direction: column;
  flex-grow: 6;
}

.settings-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 214px;
  width: 100%;
}

.settings-button {
  display: flex;
  font-weight: bold;
  flex-grow: 1;
  text-decoration: underline;
  justify-content: center;
}

.MuiSlider-thumb {
  box-shadow: none;
  width: 0px;
  height: 0px;
}

.card-layer {
  height: 214px;
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  border-color: #D3D3D3;
}