html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wave-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  margin-top: 14px;
  height: 200px;
  width: 900px;
}

.setting-label {
  width: 80px;
  font-weight: lighter;
}

.play-layer, .layer-name {
  font-weight: bold;
  font-size: 150%;
}